In [7]:
s1={1,2,3,4,5,6,7,8}
s2={2,3,4,10,0,11,34,8}
print(s1.union(s2),s1 | s2)
print(s1.intersection(s2),s1 & s2)
print(s1.difference(s2),s1-s2)
print(s1.symmetric_difference(s2),s1^s2)
print((len(s1 & s2)),s1.isdisjoint(s2))
s1={'a','b'}
print((len(s1 & s2)),s1.isdisjoint(s2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 34, 10, 11} {0, 1, 2, 3, 4, 5, 6, 7, 8, 34, 10, 11}
{8, 2, 3, 4} {8, 2, 3, 4}
{1, 5, 6, 7} {1, 5, 6, 7}
{0, 1, 34, 5, 6, 7, 10, 11} {0, 1, 34, 5, 6, 7, 10, 11}
4 False
0 True

In [8]:
s1 = {1, 2, 3}
s2 = {1, 2, 3}
s3 = {1, 2, 3, 4}
s4 = {10, 20, 30}

In [9]:
s1.issubset(s2)

True

In [10]:
s1<=s2

True

In [11]:
s2.issuperset(s1)

True

In [12]:
s2>=s1

True

In [13]:
s1<s2

False

In [14]:
s1 <s3

True

In [15]:
s1 <=s3

True

In [17]:
s={1,2,3}
print(s.union([10,11]))

{1, 2, 3, 10, 11}

In [18]:
s={1,2,3}
l=[10,11]
print(s | l)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [26]:
a=23
b=34
print(bin(a & b))

0b10