In [1]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1=s1 | s2
print(s1,s2)
print(id(s1),id(s2))

1851837753920 1851837753248
{1, 2, 3, 4, 10} {3, 10, 2}
1851837754144 1851837753248

In [2]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1|=s2
print(s1,s2)
print(id(s1),id(s2))

1851837753472 1851837754592
{1, 2, 3, 4, 10} {3, 10, 2}
1851837753472 1851837754592

In [3]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1.update(s2)
print(s1,s2)
print(id(s1),id(s2))

1851837754368 1851837753696
{1, 2, 3, 4, 10} {3, 10, 2}
1851837754368 1851837753696

In [4]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1.union(s2)
print(s1,s2)
print(id(s1),id(s2))

1851837755264 1851837753472
{1, 2, 3, 4} {3, 10, 2}
1851837755264 1851837753472

In [6]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1=s1 & s2
print(s1,s2)
print(id(s1),id(s2))

1851837753024 1851837751904
{2, 3} {3, 10, 2}
1851837753696 1851837751904

In [7]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1.intersection(s2)
print(s1,s2)
print(id(s1),id(s2))

1851837754592 1851837753024
{1, 2, 3, 4} {3, 10, 2}
1851837754592 1851837753024

In [8]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1&=s2
print(s1,s2)
print(id(s1),id(s2))

1851837751904 1851837753248
{2, 3} {3, 10, 2}
1851837751904 1851837753248

In [9]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1.difference(s2)
print(s1,s2)
print(id(s1),id(s2))

1851837754592 1851837754368
{1, 2, 3, 4} {3, 10, 2}
1851837754592 1851837754368

In [10]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1.symmetric_difference(s2)
print(s1,s2)
print(id(s1),id(s2))

1851837755488 1851837751904
{1, 2, 3, 4} {3, 10, 2}
1851837755488 1851837751904

In [11]:
s1={1,2,3,4}
s2={2,3,10}
print(id(s1),id(s2))
s1^=s2
print(s1,s2)
print(id(s1),id(s2))

1851837753920 1851837753472
{1, 10, 4} {3, 10, 2}
1851837753920 1851837753472

In [12]:
s1={1,2,3}
s1.update([5,6,7],'pyt')
print(s1)

{'p', 1, 2, 3, 'y', 5, 6, 7, 't'}

In [14]:
def combine(s,k):
    k.update(s.split(' '))

def clean(k):
    l=['the','morning','tea']
    k.update(l)
    

s=set()

combine('the tea of chetan',s)
clean(s)
print(s)

{'morning', 'of', 'the', 'chetan', 'tea'}