In [55]:
def cheack_type(d,t) :
    return type(d)==t

def eq(l,s):
     
     return l.keys()==s.keys()

def validate(data,template):
    
     if eq(data,template):
        if cheack_type(data['user_id'],template['user_id']):
          if eq(data['name'],template['name']):
            if cheack_type(data['name']['first'],template['name']['first']) & cheack_type(data['name']['last'],template['name']['last']) :
              if eq(data['bio'],template['bio']): 
                if eq(data['bio']['dob'],template['bio']['dob']) & eq(data['bio']['birthplace'],template['bio']['birthplace']) :
                  if (cheack_type(data['bio']['dob']['year'],template['bio']['dob']['year']) &
                     cheack_type(data['bio']['dob']['month'],template['bio']['dob']['month']) &  
                     cheack_type(data['bio']['dob']['day'],template['bio']['dob']['day']) &
                     cheack_type(data['bio']['birthplace']['country'],template['bio']['birthplace']['country']) &
                     cheack_type(data['bio']['birthplace']['city'],template['bio']['birthplace']['city'])) :
                    
                     return True
                  else :
                     print("1")
                     return False  
                else:
                   print("2")
                   return False   
              else :
                  print("3")
                  return False    
            else :
                print("4")
                return False    
          else:
              print("5")
              return False          
        else:
            print("6")
            return False     
     else :
         print("7")
         return False

In [50]:
template = {
    'user_id': int,
    'name': {
        'first': str,
        'last': str
    },
    'bio': {
        'dob': {
            'year': int,
            'month': int,
            'day': int
        },
        'birthplace': {
            'country': str,
            'city': str
        }
    }
}

In [51]:
john = {
    'user_id': 100,
    'name': {
        'first': 'John',
        'last': 'Cleese'
    },
    'bio': {
        'dob': {
            'year': 1939,
            'month': 11,
            'day': 27
        },
        'birthplace': {
            'country': 'United Kingdom',
            'city': 'Weston-super-Mare'
        }
    }
}

In [52]:
eric = {
    'user_id': 101,
    'name': {
        'first': 'Eric',
        'last': 'Idle'
    },
    'bio': {
        'dob': {
            'year': 1943,
            'month': 3,
            'day': 29
        },
        'birthplace': {
            'country': 'United Kingdom'
        }
    }
}

In [53]:
michael = {
    'user_id': 102,
    'name': {
        'first': 'Michael',
        'last': 'Palin'
    },
    'bio': {
        'dob': {
            'year': 1943,
            'month': 'May',
            'day': 5
        },
        'birthplace': {
            'country': 'United Kingdom',
            'city': 'Sheffield'
        }
    }
}

In [56]:
validate(john,template)

True

In [57]:
validate(eric,template)

2

False

In [58]:
validate(michael,template)

1

False