In [9]:
class myclass :
   def __init__(self,name) :
      self.name=name

   def __repr__(self):
      return (f"myclass(name={self.name})")

   def __add__(self,other) :
      print(f"you called + on {self} and {other}") 
      return "Hello from __add__"

   def __iadd__(self,other) :
      print(f"you called += on {self}  and {other}")
      return "Hello from __iadd__"

In [10]:
c1=myclass('instance 1')
c2=myclass('instance 2')

In [12]:
c3=c1+c2

you called + on myclass(name=instance 1) and myclass(name=instance 2)

In [13]:
c3

'Hello from __add__'

In [14]:
c1+=c2

you called += on myclass(name=instance 1)  and myclass(name=instance 2)

In [15]:
c1

'Hello from __iadd__'

In [19]:
l1=[1,2,3]
l2=[4,5,6]
id(l1)

2258494349248

In [17]:
l1+=l2

In [18]:
l1,id(l1)

([1, 2, 3, 4, 5, 6], 2258494319296)

In [20]:
l1 = l1 + l2
id(l1),l1

(2258494310464, [1, 2, 3, 4, 5, 6])

In [37]:
class myclass :

    def __init__(self,name) :
        self.name=name

    def __repr__(self) :
            return f"myclass=(name=){self.name})"
    
    def __add__(self,other) :
         return myclass(f"{self.name} {other.name}")
    
    def __iadd__(self,other) :
         self.name+=" "+other.name
         return self

In [38]:
c1=myclass('chetan')
c2=myclass('samrit')

In [39]:
c3=c1+c2

In [40]:
c3

myclass=(name=)chetan samrit)

In [41]:
c1+=c2

In [42]:
c1 , c2

(myclass=(name=)chetan samrit), myclass=(name=)samrit))

In [3]:
class myclass :

    def __init__(self,name) :
        self.name=name

    def __repr__(self) :
        return f"myclass (name = {self.name})"

    def __add__ (self,other) :

        return myclass(f"{self.name} {other.name}" )

    def __iadd__(self,other) :
        
        self.name+=" "+other.name
        return self  
    
    def __mul__(self,n) :
        return myclass(f"{self.name *n}")
    
    def __imul__(self,n) :
        
        self.name*=n
        return self 
    
    def __rmul__(self,n) :

        self.name*=n
        print("ch")
        return self
    
    def __contains__(self,n) :

        return n in self.name

In [4]:
c1=myclass('chetan')
c2=myclass('samrit')

In [72]:
c1+c2

myclass (name = chetan samrit)

In [73]:
c1+=c2

In [74]:
c1

myclass (name = chetan samrit)

In [78]:
c1*2

myclass (name = chetanchetan)

In [79]:
c2*=2

In [80]:
c2

myclass (name = samritsamrit)

In [5]:
2*c2

ch

myclass (name = samritsamrit)

In [91]:
c2

myclass (name = samritsamrit)

In [98]:
'ty' in c1

False

In [99]:
'ch' in c1

True

SyntaxError: 'literal' is an illegal expression for augmented assignment (678073622.py, line 1)