In [1]:
l=[]
for i in range(0,3) :
    for j in range(0,3) :
        l.append(i*j)

print(l)

[0, 0, 0, 0, 1, 2, 0, 2, 4]

In [9]:
l=[[i*j for i in range(0,3)] for j in range(0,2)]
l

[[0, 0, 0], [0, 1, 2]]

In [10]:
square=[]
for i in range(1,101) :
    square.append(i**2)

In [11]:
square[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
square=[i**2 for i in range(1,101)]
square[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
square=[]
for i in range(1,101) :
    if i%2==0 :
        square.append(i**2)
square[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [15]:
square=[i**2 for i in range(1,101) if i%2==0]
square[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [36]:
from dis import dis
compile_code=compile('[i**2 for i in (1,2,3)]',filename='',mode='eval')

In [37]:
dis(compile_code)

  1           0 LOAD_CONST               0 (<code object <listcomp> at 0x000001437A9421E0, file "", line 1>)
              2 LOAD_CONST               1 ('<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_CONST               2 ((1, 2, 3))
              8 GET_ITER
             10 CALL_FUNCTION            1
             12 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x000001437A9421E0, file "", line 1>:
  1           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                 6 (to 18)
              6 STORE_FAST               1 (i)
              8 LOAD_FAST                1 (i)
             10 LOAD_CONST               0 (2)
             12 BINARY_POWER
             14 LIST_APPEND              2
             16 JUMP_ABSOLUTE            2 (to 4)
        >>   18 RETURN_VALUE

In [38]:
 t=[ [i*j for j in range(1,11)] for i in range(1,11)]

In [39]:
t

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [41]:
from math import factorial
def combo (n,k) :
    return factorial(n) // factorial(k) * factorial(n-k)

size=10 

pascal=[ [combo(n,k) for k in range(n+1)] for n in range(size+1)]

In [42]:
pascal

[[1],
 [1, 1],
 [4, 2, 1],
 [36, 12, 3, 1],
 [576, 144, 24, 4, 1],
 [14400, 2880, 360, 40, 5, 1],
 [518400, 86400, 8640, 720, 60, 6, 1],
 [25401600, 3628800, 302400, 20160, 1260, 84, 7, 1],
 [1625702400, 203212800, 14515200, 806400, 40320, 2016, 112, 8, 1],
 [131681894400,
  14631321600,
  914457600,
  43545600,
  1814400,
  72576,
  3024,
  144,
  9,
  1],
 [13168189440000,
  1316818944000,
  73156608000,
  3048192000,
  108864000,
  3628800,
  120960,
  4320,
  180,
  10,
  1]]

In [44]:
l1=['a','b','c']
l2=['x','y','z']
l=[ s1+s2 for s1 in l1 for s2 in l2]

In [45]:
l

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [46]:
l1=['a','b','c']
l2=['b','c','d']
r=[]
for s1 in l1 :
    for s2 in l2 :
        if s1!=s2 :
            r.append(s1+s2)

In [47]:
r

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [49]:
r=[s1+s2 for s1 in l1 for s2 in l2 if s1!=s2]

In [50]:
r

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [52]:
l1=[1,2,3,4,5,6,7,8]
l2=['a','b','c','d']

list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [53]:
temp=[]
for s1,i1 in enumerate(l1) :
    for s2,i2 in enumerate(l2):
        if(s1==s2):
            temp.append((i1,i2))
temp

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [55]:
sam=[ [(i1,i2) for s2,i2 in enumerate(l2) ]for s1,i1 in enumerate(l1) if s1==s2]

In [56]:
sam

[[(4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]]

In [59]:
v1=[1,2,3,4,5,0,3]
v2=[6,7,8,9]
dot=0
for i in v2 :
    dot+=i*v1[v2.index(i)]

dot

80

In [60]:
k=list(zip(v1,v2))
k=[i*j for  i, j in k]
dot=sum(k)
dot

80

In [61]:
'number' in globals()

False

In [63]:
l=[number**2 for number in range(5)]
l

[0, 1, 4, 9, 16]

In [67]:
number=100
l=[number*i for i in range(5)]
l

[0, 100, 200, 300, 400]

In [68]:
number

100

In [69]:
fun=[lambda x :x**1 , lambda x :x**2 ,lambda x :x**3]

In [82]:
# print(fun[0](10) , fun(1)[10] , fun(2)[10])
print(fun[0](10))
print(fun[1](10))
print(fun[2](10))

10
100
1000

In [83]:
fun=[]
for i in range(6) :

    fun.append(lambda x : x**i)

print(fun[0](10))
print(fun[1](10))
print(fun[2](10))

100000
100000
100000

In [87]:
fun=[ lambda x ,com=i: x**com for i in range(6)]

In [88]:

print(fun[1](10))
print(fun[2](10))

10
100