The DateTime module is categorized into 6 main classes â€“ 

1)date 
2)time 
3)datetime 
4)timedelta 
5)timezone

1) DATE--------------------------------------------

In [2]:
from datetime import date 

my_date=date(1996,12,11)

print("Date passed as arguments",my_date)

Date passed as arguments 1996-12-11

In [3]:
my_date=date(1996,12,12)
print(my_date)

1996-12-12

In [4]:
my_date.day,my_date.month,my_date.year

(12, 12, 1996)

In [5]:
today=date.today()
print("today date is ",today)

today date is  2023-03-24

In [7]:
today.day,today.year,today.month

(24, 2023, 3)

In [8]:
type(today)

datetime.date

In [9]:
t=date.isoformat(today)
t,type(t)

('2023-03-24', str)

In [10]:
s=str(today)
s,type(s)

('2023-03-24', str)

In [15]:
from datetime import datetime
str=datetime.fromtimestamp(12367777)
str

datetime.datetime(1970, 5, 24, 8, 59, 37)

2) TIME--------------------------------------------------

In [16]:
from datetime import time

In [17]:
t=time(1,23,45)
t

datetime.time(1, 23, 45)

In [23]:
t=time(hour=2)
t

datetime.time(2, 0)

In [24]:
t=time(minute=23)
t

datetime.time(0, 23)

In [25]:
t=time(second=34)
t

datetime.time(0, 0, 34)

In [26]:
t=time()
t

datetime.time(0, 0)

In [27]:
t=time(14,23,45)
t,t.hour,t.minute,t.second

(datetime.time(14, 23, 45), 14, 23, 45)

In [28]:
s=time.isoformat(t)
print(s),type(s)

14:23:45

(None, str)

In [36]:
t=time(12,23,45)
t=t.isoformat()
t,type(t)

('12:23:45', str)

3) DATETIME---------------------------------------

In [29]:
from datetime import datetime

In [38]:
dt=datetime(2000,9,16,12,23,45)
dt

datetime.datetime(2000, 9, 16, 12, 23, 45)

In [39]:
dt=datetime(2000,9,16)
dt

datetime.datetime(2000, 9, 16, 0, 0)

In [40]:
dt.year,dt.month,dt.day

(2000, 9, 16)

In [41]:
dt.hour,dt.minute

(0, 0)

In [42]:
dt=dt.now()
dt

datetime.datetime(2023, 3, 24, 20, 30, 9, 831354)

In [43]:
s=dt.isoformat()
s

'2023-03-24T20:30:09.831354'

4)TIMEDELTA

In [2]:
from datetime import datetime ,timedelta

n=datetime.now()
n

datetime.datetime(2023, 3, 26, 14, 30, 13, 818572)

In [3]:
n=n.isoformat()
n

'2023-03-26T14:30:13.818572'

In [14]:
n=datetime.now()
n=n.strftime("%A-%m-%Y")
n

'Sunday-03-2023'

In [31]:
from datetime import datetime , timedelta , timezone

d=datetime.now()
d1=d+timedelta(days=34)
print("after 34 days date and time is ",d1)

after 34 days date and time is  2023-04-29 14:48:59.301954

In [34]:
tz=timezone.utc
tz
print(datetime.now(tz))

2023-03-26 09:23:07.440198+00:00

In [35]:
from datetime import datetime,timedelta,timezone

class Timer :

    tz=timezone.utc

    @classmethod
    def set_tz(cls , offset ,  name):

        cls.tz=timezone(timedelta(hours=offset),name)

In [36]:
Timer.set_tz(-7,'MST')

In [37]:
Timer.tz

datetime.timezone(datetime.timedelta(days=-1, seconds=61200), 'MST')

In [38]:
t1=Timer()
t2=Timer()

In [39]:
t1.tz,t2.tz

(datetime.timezone(datetime.timedelta(days=-1, seconds=61200), 'MST'),
 datetime.timezone(datetime.timedelta(days=-1, seconds=61200), 'MST'))

In [42]:
Timer.set_tz(-8,'PST')

In [45]:
Timer.tz

datetime.timezone(datetime.timedelta(days=-1, seconds=57600), 'PST')

In [46]:
t1.tz , t2.tz

(datetime.timezone(datetime.timedelta(days=-1, seconds=57600), 'PST'),
 datetime.timezone(datetime.timedelta(days=-1, seconds=57600), 'PST'))

In [5]:
from datetime import datetime,timedelta,timezone

class Timer :

    tz=timezone.utc

    @staticmethod
    def current_dt_utc():
       dt=datetime.now(timezone.utc)
       return dt
    
    @classmethod
    def set_tz(cls , offset ,  name):
        cls.tz=timezone(timedelta(hours=offset),name)

In [6]:
Timer.current_dt_utc()

datetime.datetime(2023, 3, 26, 9, 31, 54, 508100, tzinfo=datetime.timezone.utc)

In [7]:
t=Timer()

In [8]:
t.current_dt_utc()

datetime.datetime(2023, 3, 26, 9, 32, 19, 653157, tzinfo=datetime.timezone.utc)

In [9]:
from datetime import datetime,timedelta,timezone

class Timer :

    tz=timezone.utc

    @staticmethod
    def current_dt_utc():
       dt=datetime.now(timezone.utc)
       return dt
    
    @classmethod
    def set_tz(cls , offset ,  name):
        cls.tz=timezone(timedelta(hours=offset),name)

    @classmethod
    def current_dt(cls):
        cls_dt=datetime.now(cls.tz)
        return cls_dt

In [10]:
Timer.current_dt_utc() , Timer.current_dt()

(datetime.datetime(2023, 3, 26, 9, 35, 40, 116197, tzinfo=datetime.timezone.utc),
 datetime.datetime(2023, 3, 26, 9, 35, 40, 116197, tzinfo=datetime.timezone.utc))

In [12]:
t1=Timer()
t2=Timer()

In [14]:
t1.current_dt_utc() , t1.current_dt()

(datetime.datetime(2023, 3, 26, 9, 38, 42, 553199, tzinfo=datetime.timezone.utc),
 datetime.datetime(2023, 3, 26, 9, 38, 42, 553199, tzinfo=datetime.timezone.utc))

In [15]:
t2.current_dt_utc() , t2.current_dt()

(datetime.datetime(2023, 3, 26, 9, 38, 46, 965392, tzinfo=datetime.timezone.utc),
 datetime.datetime(2023, 3, 26, 9, 38, 46, 965392, tzinfo=datetime.timezone.utc))

In [16]:
t2.set_tz(-7 , 'MST')

In [17]:
t1.current_dt_utc() , t1.current_dt()

(datetime.datetime(2023, 3, 26, 9, 39, 54, 597681, tzinfo=datetime.timezone.utc),
 datetime.datetime(2023, 3, 26, 2, 39, 54, 597681, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200), 'MST')))